@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-1: #071029;
  --bg-2: #0f172a;
}

body {
  background: linear-gradient(180deg,var(--bg-2),var(--bg-1));
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

/* small helpers */
.line-clamp-2 { overflow:hidden; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; }
